{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do most of the time.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="major">Clash of Clans</h3>
<!--        <span class="image main"><img src="https://media.giphy.com/media/UZFh5nDLppOWDeyIfQ/giphy.gif" alt="" /></span>-->
        <p>Been playing Clash of Clans since 2014 but took a break from 2016-2018. Already at
          Town Hall 13 now and slowly getting to max Town Hall 13. Currently co-lead at The Avengers
          Clan and one of their best attackers. If you want to clash with me add me up on COC
          #ULY8JR2V</p>
        <h3 class="major">Brawl Stars</h3>
<!--        <span class="image main"><img src="https://media.giphy.com/media/G7OklYQqZ8SUcLPt5H/giphy.gif" alt="" /></span>-->
        <p>New to the game. Playing since last year. Some of my favorite brawlers are Bea,
          Colonel Ruffs and Byron. Im noob so don't flame me. Add me #CJYJJLPR</p>
        <h3 class="major">Aura Kingdom (Global Server)</h3>
<!--        <span class="image main"><img src="http://www.mmobomb.com/file/2013/11/Aura_Kingdom_1.jpg" width="480px" height="270px" alt="" /></span>-->
        <p>Main Chibi level s13 right now. Playing since 2014 till 85 or 80 ish cap and returned last year at s10 cap.
          Vice Leader at Sleeping__Forest. If you want stress free anime style MMORPG come join
          the toxicity. Hit me up if you want to join one of the oldest guild in the game.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}