{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do most of the time.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="major">Clash of Clans</h3>
        <p>ahsjdkajshdauisdaskjdashdaskdhaskjdhasdasjdhasiduashdashdaskjdasda
          #ULY8JR2V</p>
        <h3 class="major">akjhsdgaksjdhakjsd</h3>
        <p>QIhaksljdhkajsndbakjsdhgakjsdnbakjsdhgakjsdlaksdjhakjslbdlkasndakljsd/p>
        <h3 class="major">LKJASHDKJASHDKAJjhkjhasd</h3>
        <p>kjhgaskjdhakjsdhalksjdhaskjdnaskljdhg1qkjhkjhsakdjahskld1</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}